
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-xs-12">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
        </div><!-- /.box-header -->
        <div>

            <div class="box-header with-border">
                <input type="submit" value="Create" class="btn btn-block btn-success btn-xs" style="
    width: 100px;
    margin-left: 11px;
" />
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Search Mail">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Password</th>
                        <th>CheckSum(s)</th>
                        <th>Created By</th>
                        <th>CreatedDate</th>
                        <th>Edit By</th>
                        <th>Edit Date</th>
                        <th style="width: 131px;">Tool</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tâm</td>
                        <td>123</td>
                        <td> </td>
                        <td> tên</td>
                        <td>2012</td>
                        <td> tên</td>
                        <td>2013</td>
                        <td>
                            <a href="#">Edit|</a>
                            <a href="#">Details|</a>
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div><!-- /.col -->
