@using TLU.Blog.Models.DataModels
@foreach (var item2 in (new CommentModel().GetList(Model)))
{
    <div class="media response-info">
        <div class="media-left response-text-left">
            <a href="#">
                <img class="media-object" src="@item2.Account.Profile.Avatar" alt="" />
            </a>
            <h5><a href="#">@(new AccountModel().GetNameById(item2.AccountID))</a></h5>
        </div>
        <div class="media-body response-text-right">
            <p>
                @item2.CommentContent
            </p>
            <ul>
                <li>@item2.CommentDate</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
}