@model TLU.Blog.Data.Account

@{
    ViewBag.Title = "DangKy";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Simple Login Form</title>
    <meta charset="UTF-8" />
    <meta name="Designer" content="PremiumPixels.com">
    <meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
    <link href="~/ConTentLogIn/reset.css" rel="stylesheet" />
    <link href="~/ConTentLogIn/structure.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()


    <form class="box login">
        <fieldset class="boxBody">
            <label>@Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })</label>
            <div class="col-md-10">
                
                <input type="text" tabindex="1" placeholder="PremiumPixel" required>
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            
            <label><a href="#" class="rLink" tabindex="5">Forget your password?</a>Password</label>
            <input type="password" tabindex="2" required>
        </fieldset>
        <footer>
            <label><input type="checkbox" tabindex="3">Keep me logged in</label>
            <input type="submit" class="btnLogin" value="Login" tabindex="4">
        </footer>
    </form>
    <footer id="main">
        <a href="http://wwww.cssjunction.com">Simple Login Form (HTML5/CSS3 Coded) by CSS Junction</a> | <a href="http://www.premiumpixels.com">PSD by Premium Pixels</a>
    </footer>
</body>
</html>

